.TodoItem {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  border-radius: 10px;
  border: "1px solid lightsalmon";
  cursor: "pointer";
  background-color: "paleturquoise";
}

.completed {
  text-align: center;
  text-decoration: line-through;
  color: blue;
  text-decoration-color: fuchsia;
}

.not-completed {
  text-align: center;
  color: purple;
}
